@{
    ViewData["Title"] = "Home Page";

    var todosContinuationToken = ViewData["TodosContinuationToken"] as string;
    var todosContinuationTokenSet = string.IsNullOrEmpty(todosContinuationToken);
}

<h1 class="display-4 mb-4 text-center">Add Todo</h1>

<form id="form-add">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" required autofocus>
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" required></textarea>
    </div>

    <div class="text-right">
        <button class="btn btn-primary" type="submit">Add</button>
    </div>
</form>

@section Scripts {
    <script src="~/js/add.js"></script>
}