.todo {
    padding: 1rem;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.todo__title {
    display: block;
    font-weight: bold;
}

.todo__content {
    flex-grow: 1;
    padding-right: 1rem;
}